<h1>Person#index</h1>
<p>Find me in app/views/person/index.html.erb</p>

<% @persons['results'].each do |person| %>
   <div>
      <h6><%= person['name'] %></h6>
      <% if person['profile_path'] %>
         <%= image_tag "https://image.tmdb.org/t/p/w90_and_h90_face/#{person['profile_path']}" %>
      <% else %>
         <%= image_tag "people.png", width: "90", height: "90" %>
      <% end %>
      <%#= render 'layouts/modal' %>
   </div>
<% end %>

<div>
   <%= link_to "Previous", persons_path(page: @page-1) %> |
   <%= link_to "Next", persons_path(page: @page+1) %>
</div>

